body{
    background-color: #dedede;
}
.btn0 {
    border-radius: 8px;
    border: 1px solid orange;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: orange;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    text-decoration: none;
  }
  .btn1 {
    border-radius: 8px;
    border: 1px solid orange;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    color: orange;
    text-decoration: none;
  }
  .btn0:hover {
    background-color: red;
    border: 1px solid red;
  }
  .btn1:hover {
    background-color: red;
    border: 1px solid red;
    color: white;
  }

  .login{
    background-color: white;
    margin: auto;
    width: 47%;
    border-radius: 8px;
    padding-left:50px ;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 32px;
    box-shadow: 0 0.2rem 0.2rem rgb(83, 83, 83);
  }
  .logine{
    background-color: white;
    margin: auto;
    width: 60%;
    border-radius: 8px;
    padding-left:50px ;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 32px;
    box-shadow: 0 0.2rem 0.2rem rgb(83, 83, 83);
  }
.label {
    font-weight: 600;
    display: inline;
    color: black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: block;
    margin-bottom: 8px;
  }
  .item-input {
    padding: 16px;
    width: 274px;
    margin: auto;
    background: #dedede;
    border: 1px solid #dedede;
    border-radius: 8px;
    border-left: 5px solid orange;
  }
  .item-inpute {
    padding: 16px;
    width: 100%;
    margin: auto;
    background: #dedede;
    border: 1px solid #dedede;
    border-radius: 8px;
    border-left: 5px solid orange;
  }
  .item-input1 {
    padding: 16px;
    width: 100%;
    margin: auto;
    background: #dedede;
    border: 1px solid #dedede;
    border-radius: 8px;
    border-left: 5px solid orange;
  }
  .coly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .titre {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        margin-top: 0%;
        margin-bottom: 0%;
}
.btn-primary {
    padding-bottom: 8px;
}
  